.Navbar {
    display: flex;
    margin: 0 auto;
    background-color: black;
    align-items: center;
}

.Navbar h1 {
    color: white;
}

.Navbar a {
    color:white;
}

.Navbar a:hover {
    color:red;
}

.Fines h1 {
    color: black;
}